<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contigo Burguers</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <div>
        <h1>Contigo Backoffice</h1>
        <a href="productos">Productos</a>
        <a href="ventas">Ventas</a>
    </div>
</body>

</html>