<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contigo Burguers</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <div>
        <h1 class="title">Contigo Backoffice</h1>
    </div>
    <!-- <a  type="button" class="btn btn-info" href="productos">Productos</a>
    <a type="button" class="btn btn-info" href="ventas">Ventas</a> -->

    <div class="row justify-content-center g-4 p-4">
      <!-- Card 1 -->
      <div class="col-md-4 col-sm-6 d-flex justify-content-center">
        <div class="card custom-card">
          <div class="card-body">
            <a  type="button" class="btn btn-info" href="productos">Productos</a>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-4 col-sm-6 d-flex justify-content-center">
        <div class="card custom-card">
          <div class="card-body">
            <a type="button" class="btn btn-info" href="ventas">Ventas</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>