*{
  overflow: hidden;

}
@font-face {
  font-family: 'MiFuente';
  src: url('/fonts/Goldman-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body.gradient-bg {
  background: linear-gradient(135deg, #eaeaea 0%, #fffbe6 50%, #fff9c4 100%);
}
h1{
  font-size: 82px;
  color:rgb(167, 255, 120);
  text-align: center;
  background-color: #9B0216;
}

h1, h2, h3 {
  font-family: 'MiFuente', Arial, sans-serif;
}

.background-section {
  background: url('/img/burguer-background.jpg') no-repeat center center;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.custom-card {
  width: 55%;
  margin: 0 auto;
  background-color: rgb(205, 252, 179);
}

.custom-card .btn {
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
}
/* Iconos del index */
.index-icon {
  width: 30%;
  min-width: 48px;
  height: auto;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#form-producto, #form-ventas {
  max-width: 450px; 
  padding: 20px;
}
